{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <title>Pika Pika</title>
    </head>
    <body>
        <p>Wow look, you can embed piktures into your webpages!</p>
        <img src="https://images.ecosia.org/zfq6X0TFYLa9U6gPuSmSPNnGB6E=/0x390/smart/https%3A%2F%2Fstatic.zerochan.net%2FPikachu.full.933229.jpg"/>
        <a href="{% url 'piktures/' num %}">Surprise Pikachu</a>
</body>
</html>