<!DOCTYPE html>
<html>
    <head>
        <title>Cool Things</title>
    </head>
    <body>
        <h1>Click stuff to find out what cool things you can do with the web...</h1>
        <ul>
            <li><a href="/darkMode">~Dark Mode</a></li>
            <li><a href="/piktures">Piktures 0.0</a></li>
        </ul>
        <p>And HTML and CSS can do way more than that! Colors, images, 
            <a href="https://coolcssanimation.com">animations</a>, and <a href="https://fonts.google.com">fonts</a> are only the tip of the iceberg</p>
    </body>
</html>