<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'static/css/style.css' %}"/>
    </head>
    <body>
        <h1>Surfing Pikachu</h1>
        <p>I wish I knew how to surf, although not with Pikachu</p>
        <img src="https://images.ecosia.org/tELCfkFLvdoMwcMgeTUp0hMeOZE=/0x390/smart/https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2F9a%2Feb%2Ff3%2F9aebf31a3f5493d7234d5f4fabf57ec6.jpg"/>
    </body>
</html>